<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="10" android:versionName="0.0.10"
    package="com.doat.tracklocation" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:maxSdkVersion="23" android:minSdkVersion="16" android:targetSdkVersion="16"/>
    <!--
         permission so the Android application can send the registration ID to 
    	the 3rd party server
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--
          permission as GCM requires a Google account (necessary only if if the 
    	device is running a version lower than Android 4.0.4)
    -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!--
         permission so the application can keep the processor from sleeping 
    	when a message is received. Optional—use only if the app wants to keep 
    	the device from sleeping.
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- permission so the Android application can register and receive messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <permission
        android:name="com.doat.tracklocation.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.doat.tracklocation.permission.C2D_MESSAGE"/>
    <permission
        android:name="com.doat.tracklocation.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <!-- permission so the Android application can write to SDCARD -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--
    http://developer.android.com/guide/topics/location/strategies.html
    Note: If you are using both NETWORK_PROVIDER and GPS_PROVIDER, then you need 
    to request only the ACCESS_FINE_LOCATION permission, because it includes permission 
    for both providers. (Permission for ACCESS_COARSE_LOCATION includes permission only for NETWORK_PROVIDER.)
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <application android:allowBackup="true" android:enabled="true"
        android:exported="true" android:icon="@drawable/main_icon_96"
        android:label="@string/app_name"
        android:name=".TrackLocationApplication" android:theme="@style/AppTheme">
        <!-- android:name="com.google.android.gms.gcm.GcmReceiver" -->
        <receiver android:enabled="true" android:exported="true"
            android:name=".service.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.doat.tracklocation"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true"
            android:name=".service.SMSReceiver" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
	
        <service android:exported="false" android:name=".service.GcmIntentService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:name="com.doat.tracklocation.service.TrackLocationService"/>
          
        <activity android:label="@string/app_name"
            android:launchMode="singleTask" android:name=".MainActivity" android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_contact_list"
            android:name=".ContactListActivity" android:screenOrientation="user"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_tracking_list"
            android:name=".TrackingListActivity" android:screenOrientation="unspecified"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_location_sharing_list"
            android:name=".LocationSharingListActivity" android:screenOrientation="unspecified"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_googlemap"
            android:name=".MapActivity" android:screenOrientation="unspecified"/>
        <activity android:label="Contact Data Grid View"
            android:name=".grid.ContactDataGridView" android:screenOrientation="portrait"/>
        <activity android:label="Settings" android:name="SettingsActivity"/>
        <activity android:configChanges="keyboardHidden|orientation"
            android:label="Edit contact details"
            android:name=".ContactEditActivity" android:screenOrientation="portrait"/>
        <activity android:label="Notification Receiver" android:name="NotificationReceiver"/>
        <activity android:label="Activity Dialog Ring"
            android:name=".dialog.ActivityDialogRing" android:theme="@android:style/Theme.Dialog"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".JoinContactListActivity"            
            android:screenOrientation="unspecified" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable_contacts"/>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".JoinContactsListActivity"            
            android:screenOrientation="unspecified" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable_contacts"/>
        </activity>
        <activity android:label="@string/activity_contact_detail"
            android:name=".JoinContactDetailActivity" android:parentActivityName=".JoinContactsListActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".JoinContactsListActivity"/>
        </activity>        
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:noHistory="true" 
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyC2YburJfQ9h12eLEn7Ar1XPK_2deytF30"/>
    </application>
</manifest>
<!--
             <meta-data
            android:name="com.google.android.gms.version"
            android:value="4323000" />
-->
<!-- android:value="4132500"/> -->
<!-- android:value="4323000 -->
